{% extends 'base.html' %}

{% block tittle%} Invoices {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <h3 class="text-center " style="color:#181818 ">List of Invoices </h3>
    <table class="table" id="tabla" style="border: 1px solid darkgrey;
                        border-radius: 20px; background-color:#20c997; opacity:0.9; color:#181818">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Client</th>
                <th scope="col">Waiter</th>
                <th scope="col">Table</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoice_list %}
            <tr>

                <th scope="row">{{invoice.id}}</th>
                <td>{{invoice.date}}</td>
                 <td>{{invoice.client}}</td>
                 <td>{{invoice.waiter}}</td>
                 <td>{{invoice.table}}</td>
                <td>
                    <a class="btn btn-primary" style="margin-right: 5px ;" href="{% url 'invoice:update_invoice' invoice.pk %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'invoice:delete_invoice' invoice.pk %}">Delete</a>
                </td>
        
            </tr>
            {% endfor %}
        </tbody>
        </table>
</div>

{% endblock content %}
