{% extends 'base.html' %}

{% block tittle%} Pet list {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <h3 class="text-center " style="color:#181818 ">Client List</h3>
    <table class="table" id="tabla" style="border: 1px solid darkgrey;
                        border-radius: 20px; background-color:#20c997; opacity:0.9; color:#181818">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Units</th>
            </tr>
        </thead>
        <tbody>
            {% for client in client_list %}
            <tr>

                <th scope="row">{{client.id}}</th>
                <td>{{client.name}}</td>
                <td>{{client.last_name}}</td>
                <td>{{client.observations}}</td>
                <td>
                    <a class="btn btn-primary" style="margin-right: 5px ;" href="{% url 'persons:update_client' client.pk %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'persons:delete_client' client.pk %}">Delete</a>
                </td>
        
            </tr>
            {% endfor %}
        </tbody>
        </table>

</div>

{% endblock content %}
