{% extends 'base.html' %}

{% block tittle%} Pet list {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <h3 class="text-center " style="color:#181818 ">Waiter List</h3>
    <table class="table" id="tabla" style="border: 1px solid darkgrey;
                        border-radius: 20px; background-color:#20c997; opacity:0.9; color:#181818">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Last Name 1</th>
                <th scope="col">Last Name 2</th>
            </tr>
        </thead>
        <tbody>

            {% for waiter in waiter_list %}
            <tr>

                <th scope="row">{{waiter.id}}</th>
                <td>{{waiter.name}}</td>
                <td>{{waiter.last_name}}</td>
                <td>{{waiter.last_name_2}}</td>
                <td>
                    <a class="btn btn-primary" style="margin-right: 5px ;" href="{% url 'persons:update_waiter' waiter.pk %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'persons:delete_waiter' waiter.pk %}">Delete</a>
                </td>

            </tr>
            {% endfor %}

        </tbody>
        </table>

</div>

{% endblock content %}
