{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block tittle%} LOGIN {%endblock%}

{% block content %}

            <!-- Login Section Start -->
            <section id="login" style="align: center;">
                <div class="container" >
                    <div class="section-header d-flex justify-content-center">
                        <h3>LOGIN</h3>
                    </div>
                    <div style="text-align: center;"/>
                    <div class="row" style="justify-content: space-around">
                        <div class="col-md-6">
                            <div class="login-col-2">
                                <div class="login-form">
                                    <form id="login-form" class="form" action="" method="POST">
                                        <div class="form-group">
                                            {% csrf_token%}
                                            {{ form | crispy}}
                                        </div>
                                        <div><button type="submit" name="submit" class="btn btn-success btn-md" value="submit">Login</button></div>
                                        <a href="{% url 'persons:register_user' %}" class="text-dark ">Register here</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <!-- Login Section End -->
{% endblock content %}

