{% extends 'base.html' %}

{% block tittle%} Pet list {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <h3 class="text-center " style="color:#181818 ">Client List</h3>
    <table class="table" id="tabla" style="border: 1px solid darkgrey;
                        border-radius: 20px; background-color:#20c997; opacity:0.9; color:#181818">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Capacity per table</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            {% for table in table_list %}
            <tr>

                <th scope="row">{{table.id}}</th>
                <td>{{table.num_diners}}</td>
                <td>{{table.location}}</td>
                <td>
                    <a class="btn btn-primary" style="margin-right: 5px ;" href="{% url 'table:update_table' table.pk %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'table:delete_table' table.pk %}">Delete</a>
                </td>
        
            </tr>
            {% endfor %}
        </tbody>
        </table>

</div>

{% endblock content %}
