{% extends 'base.html' %}

{% block tittle%} List of Products {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <h3 class="text-center " style="color:#181818 ">List of Products </h3>
    <table class="table" id="tabla" style="border: 1px solid darkgrey;
                        border-radius: 20px; background-color:#20c997; opacity:0.9; color:#181818">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Stock</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in product_list %}
            <tr>

                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                 <td>{{product.importe}}</td>
                 <td>{{product.type}}</td>
                 <td>{{product.price}}</td>
                <td>
                    <a class="btn btn-primary" style="margin-right: 5px ;" href="{% url 'products:update_product' product.pk %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'products:delete_product' product.pk %}">Delete</a>
                </td>
        
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <a class="btn btn-primary" style="margin-right: 5px ;" href="{% url 'products:add_typeProduct'%}">Add Type of product</a>
        <a class="btn btn-primary" style="margin-right: 5px ;" href="{% url 'products:typeProduct_list' %}">List All Types of Products</a>
</div>

{% endblock content %}
