{% extends 'base.html' %}

{% block tittle%} List of Type of Products {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <h3 class="text-center " style="color:#181818 ">List of Type of Products </h3>
    <table class="table" id="tabla" style="border: 1px solid darkgrey;
                        border-radius: 20px; background-color:#20c997; opacity:0.9; color:#181818">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for type in typeProduct_list %}
            <tr>

                <th scope="row">{{type.id}}</th>
                <td>{{type.name}}</td>
                <td>
                    <a class="btn btn-primary" style="margin-right: 5px ;" href="{% url 'products:update_typeProduct' type.pk %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'products:delete_typeProduct' type.pk %}">Delete</a>
                </td>
        
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <a class="btn btn-dark" href="{% url 'products:product_list' %}"> Go back to products </a>

</div>

{% endblock content %}
