{% extends 'base.html' %}

{% block tittle%} Orders {%endblock%}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <h3 class="text-center " style="color:#181818 ">List of Orders </h3>
    <table class="table" id="tabla" style="border: 1px solid darkgrey;
                        border-radius: 20px; background-color:#20c997; opacity:0.9; color:#181818">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Product</th>
                <th scope="col">Invoice</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
            <tr>

                <th scope="row">{{order.id}}</th>
                <td>{{order.date}}</td>
                 <td>{{order.product}}</td>
                 <td>{{order.invoice}}</td>
                 <td>{{order.quantity}}</td>
                <td>
                    <a class="btn btn-primary" style="margin-right: 5px ;" href="{% url 'products:update_order' order.pk %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'products:delete_order' order.pk %}">Delete</a>
                </td>
        
            </tr>
            {% endfor %}
        </tbody>
        </table>
</div>

{% endblock content %}
